<div class="principal">
    <div class="contendor-formulario">
        <div class="titulo"><h1>INGRESO</h1></div>
        <form [formGroup]="formularioIngreso">
            <div class="contenedor-input">
                <label for="email"><img src="../../../assets/login/correo.png"></label>
                <input type="text" formControlName="email" id="email" placeholder="Ingrese su correo">
                <span class="text-danger" *ngIf="formularioIngreso.controls['email'].errors?.['required'] && formularioIngreso.controls['email'].touched">
                    Campo obligatorio
                </span>
                <span class="text-danger" *ngIf="formularioIngreso.controls['email'].errors?.['contieneEspacios'] && formularioIngreso.controls['email'].touched">
                    No puede contener espacios
                </span>
                <span class="text-danger" *ngIf="formularioIngreso.controls['email'].errors?.['pattern'] && formularioIngreso.controls['email'].touched">
                    Formato de correo no válido
                </span>
            </div>
            <div class="contenedor-input">
                <label for="clave"><img src="../../../assets/login/clave.png"></label>
                <input type="password" formControlName="clave" id="clave" placeholder="Ingrese su clave">
                <span class="text-danger" *ngIf="formularioIngreso.controls['clave'].errors?.['required'] && formularioIngreso.controls['clave'].touched">
                    Campo obligatorio
                </span>
                <span class="text-danger" *ngIf="formularioIngreso.controls['clave'].errors?.['minlength'] && formularioIngreso.controls['clave'].touched">
                    Debe tener al menos 6 caracteres
                </span>
                <span class="text-danger" *ngIf="formularioIngreso.controls['clave'].errors?.['maxlength'] && formularioIngreso.controls['clave'].touched">
                    Debe tener 10 caracteres como máximo
                </span>
            </div>
            <button class="btn-enviar" [disabled]="formularioIngreso.invalid" (click)="ingreso()">ENVIAR</button>
        </form>
        <div class="acceso-rapido">
            <button class="btn-acceso-rapido" (click)="accederRapido('paciente1')"><img src="https://firebasestorage.googleapis.com/v0/b/tpclinica-62691.appspot.com/o/fotos%2F2b4bf2cb-f0d1-4a28-a3f5-233eca385acf?alt=media&token=0e173f7e-9edc-42c6-9453-f61f254459c2"></button>
            <button class="btn-acceso-rapido" (click)="accederRapido('paciente2')"><img src="https://firebasestorage.googleapis.com/v0/b/tpclinica-62691.appspot.com/o/fotos%2Ffad639c9-dc65-45eb-b963-bd35bcb69ab3?alt=media&token=54697dde-ac05-4aff-9a22-95269294a301"></button>
            <button class="btn-acceso-rapido" (click)="accederRapido('paciente3')"><img src="https://firebasestorage.googleapis.com/v0/b/tpclinica-62691.appspot.com/o/fotos%2Fd4688274-1a98-4919-86da-1dc7ceee6339?alt=media&token=902bac59-d41d-44f7-a0f0-2ac380cc8bb1"></button>
            <button class="btn-acceso-rapido" (click)="accederRapido('especialista1')"><img src="https://firebasestorage.googleapis.com/v0/b/tpclinica-62691.appspot.com/o/fotos%2Fe5e4f830-6ece-4562-b0ba-0aad95af1cbf?alt=media&token=ee636684-998e-4756-86f0-8780636b68d4" alt=""></button>
            <button class="btn-acceso-rapido" (click)="accederRapido('especialista2')"><img src="https://firebasestorage.googleapis.com/v0/b/tpclinica-62691.appspot.com/o/fotos%2F8d2e3056-6b9a-4d61-8a64-bce9141061f2?alt=media&token=c1a9d127-6224-432b-85ea-3d081f8a1acd" alt=""></button>
            <button class="btn-acceso-rapido" (click)="accederRapido('admin')"><img src="https://firebasestorage.googleapis.com/v0/b/tpclinica-62691.appspot.com/o/fotos%2F6e341680-e7e6-4280-9ac8-24f18c1db15a?alt=media&token=5e6524b2-0c83-4fd3-ad95-8d4480820bee"></button>
        </div>
    </div>
</div>